n8n/workflows/10k_extraction_workflow.json
[
  {
    "name": "SEC 10-K Evidence Extraction",
    "active": false,
    "versionId": "11",
    "nodes": [
      {
        "parameters": {},
        "id": "manual-trigger",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          240,
          400
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          200
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "input_folder_id",
                "value": "1paipEIvzF0xyjmUqN6OplJHoaG6u9aEq"
              },
              {
                "name": "output_folder_id",
                "value": "1tW5CpOf-cVBE3RRQciNTOGrhveJYbc9H"
              }
            ]
          },
          "options": {}
        },
        "id": "set-folder-ids",
        "name": "Set Folder IDs",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          460,
          400
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://www.googleapis.com/drive/v3/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "='{{ $json.input_folder_id }}' in parents and mimeType='application/pdf'"
              },
              {
                "name": "fields",
                "value": "files(id,name)"
              }
            ]
          },
          "options": {}
        },
        "id": "list-pdfs",
        "name": "List PDFs in Folder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          400
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "files",
          "options": {}
        },
        "id": "split-files",
        "name": "Split Out Files",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          900,
          400
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "loop-items",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1080,
          400
        ]
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "file_id",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "file_name",
                "name": "file_name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "base_name",
                "name": "base_name",
                "value": "={{ $json.name.replace('.pdf', '').replace('.PDF', '') }}",
                "type": "string"
              },
              {
                "id": "excel_name",
                "name": "excel_name",
                "value": "={{ $json.name.replace('.pdf', '').replace('.PDF', '') }}_evidence_binder.xlsx",
                "type": "string"
              },
              {
                "id": "excel_path",
                "name": "excel_path",
                "value": "=/app/output/{{ $json.name.replace('.pdf', '').replace('.PDF', '') }}_evidence_binder.xlsx",
                "type": "string"
              },
              {
                "id": "output_folder_id",
                "name": "output_folder_id",
                "value": "1tW5CpOf-cVBE3RRQciNTOGrhveJYbc9H",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "set-file-info",
        "name": "Set File Info",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1280,
          400
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://www.googleapis.com/drive/v3/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "='{{ $json.output_folder_id }}' in parents and name = '{{ $json.excel_name }}'"
              },
              {
                "name": "fields",
                "value": "files(id,name)"
              }
            ]
          },
          "options": {}
        },
        "id": "check-file-exists",
        "name": "Check Output Exists",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1500,
          400
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "condition-exists",
                "leftValue": "={{ $json.files.length }}",
                "rightValue": "0",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-file-exists",
        "name": "File Already Processed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1720,
          400
        ]
      },
      {
        "parameters": {},
        "id": "skip-already-processed",
        "name": "Skip - Go to Next",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1940,
          300
        ]
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Set File Info').item.json.file_id }}"
          },
          "options": {}
        },
        "id": "download-pdf",
        "name": "Download PDF",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1940,
          500
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/app/10k-inbox/{{ $('Set File Info').item.json.file_name }}",
          "options": {}
        },
        "id": "save-pdf",
        "name": "Save PDF to Disk",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          2160,
          500
        ]
      },
      {
        "parameters": {
          "command": "=cd /app && python3 run.py extract \"/app/10k-inbox/{{ $('Set File Info').item.json.file_name }}\" --output /app/output",
          "options": {
            "timeout": 600000
          }
        },
        "id": "run-extraction",
        "name": "Run Extraction",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2380,
          500
        ]
      },
      {
        "parameters": {
          "filePath": "={{ $('Set File Info').item.json.excel_path }}"
        },
        "id": "read-output",
        "name": "Read Excel Output",
        "type": "n8n-nodes-base.readBinaryFile",
        "typeVersion": 1,
        "position": [
          2600,
          500
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Set File Info').item.json.output_folder_id }}"
          },
          "name": "={{ $('Set File Info').item.json.excel_name }}",
          "options": {}
        },
        "id": "upload-excel",
        "name": "Upload to Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2820,
          500
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "command": "=rm -f \"/app/10k-inbox/{{ $('Set File Info').item.json.file_name }}\" \"{{ $('Set File Info').item.json.excel_path }}\" \"/app/output/{{ $('Set File Info').item.json.base_name }}_extraction.json\""
        },
        "id": "cleanup",
        "name": "Cleanup Local Files",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          3040,
          500
        ]
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Set Folder IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Folder IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Folder IDs": {
        "main": [
          [
            {
              "node": "List PDFs in Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List PDFs in Folder": {
        "main": [
          [
            {
              "node": "Split Out Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Files": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Set File Info",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Set File Info": {
        "main": [
          [
            {
              "node": "Check Output Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Output Exists": {
        "main": [
          [
            {
              "node": "File Already Processed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Already Processed?": {
        "main": [
          [
            {
              "node": "Skip - Go to Next",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Download PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip - Go to Next": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download PDF": {
        "main": [
          [
            {
              "node": "Save PDF to Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save PDF to Disk": {
        "main": [
          [
            {
              "node": "Run Extraction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Extraction": {
        "main": [
          [
            {
              "node": "Read Excel Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Excel Output": {
        "main": [
          [
            {
              "node": "Upload to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Google Drive": {
        "main": [
          [
            {
              "node": "Cleanup Local Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cleanup Local Files": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 2,
    "pinData": {}
  }
]
