n8n/workflows/10k_extraction_workflow.json
[{
  "name": "SEC 10-K Evidence Extraction",
  "active": false,
  "versionId": "3",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.input_folder_id }}"
        },
        "filter": {
          "mimeType": "application/pdf"
        },
        "options": {}
      },
      "id": "list-drive-files",
      "name": "List PDFs in Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "download-pdf",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/app/10k-inbox/{{ $json.name }}",
        "options": {}
      },
      "id": "save-pdf",
      "name": "Save PDF to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "command": "=cd /app && python3 run.py extract \"/app/10k-inbox/{{ $json.name }}\" --output /app/output"
      },
      "id": "run-extraction",
      "name": "Run Extraction Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "filePath": "=/app/output/{{ $json.name.replace('.pdf', '').replace('.PDF', '') }}_evidence_binder.xlsx"
      },
      "id": "read-output",
      "name": "Read Excel Output",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Manual Trigger').json.output_folder_id || $('Manual Trigger').json.input_folder_id }}"
        },
        "name": "={{ $json.name.replace('.pdf', '').replace('.PDF', '') }}_evidence_binder.xlsx",
        "options": {}
      },
      "id": "upload-excel",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm -f \"/app/10k-inbox/{{ $json.name }}\" \"/app/output/{{ $json.name.replace('.pdf', '').replace('.PDF', '') }}_evidence_binder.xlsx\" \"/app/output/{{ $json.name.replace('.pdf', '').replace('.PDF', '') }}_extraction.json\""
      },
      "id": "cleanup",
      "name": "Cleanup Local Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "input_folder_id",
              "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID"
            },
            {
              "name": "output_folder_id",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "set-folder-ids",
      "name": "Set Folder IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Folder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder IDs": {
      "main": [
        [
          {
            "node": "List PDFs in Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List PDFs in Folder": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Save PDF to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF to Disk": {
      "main": [
        [
          {
            "node": "Run Extraction Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Extraction Script": {
      "main": [
        [
          {
            "node": "Read Excel Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel Output": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Cleanup Local Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SEC",
      "id": "1"
    },
    {
      "name": "Google Drive",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}]
